@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --clr-dark: #2b2b2b;
  --clr-light: #f5f5f5;
  --clr-primary: #ffa700;
  --font-style: "Inter", sans-serif;
  --h1: 9rem;
  --h2: 3.3rem;
  --h3: 2.4rem;
  --h4: 1.6rem;
  --h5: 1.2rem;
  --h6: 1rem;
  --p: 1.6rem;
  --subh1: 7rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: var(--font-style);
}

body {
  color: var(--clr-dark);
  font-family: var(--font-style);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: auto;
  padding: 0 15rem;
}

/* --------------------------------------------- */

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: var(--h1);
  line-height: 7rem;
}
h2 {
  font-size: var(--h2);
  line-height: 3.3rem;
}
h3 {
  font-size: var(--h3);
  line-height: 2.4rem;
}
h4 {
  font-size: var(--h4);
  line-height: 2rem;
}
h5 {
  font-size: var(--h5);
  line-height: 1.8rem;
}
h6 {
  font-size: var(--h6);
  line-height: 1rem;
}
p {
  font-size: var(p);
  line-height: 2.4rem;
  font-weight: 500;
}
.subh1 {
  font-size: var(--subh1);
  line-height: 7rem;
}
/* ------------------------------------------------------------------- */

.homeBanner,
.homeServices,
.homeAbout,
.homeTrends,
.aboutBanner,
.aboutProjects,
.updates,
.contact {
  padding: 10rem 0;
}

.homeBanner,
.aboutBanner,
.updateBanner,
.updates,
.contact {
  padding-top: 21.2rem;
}

/* HEADER */
.header {
  background-color: var(--clr-dark);
  padding: 2.3rem 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#logo {
  width: 6rem;
  height: 6rem;
}

#visual {
  color: var(--clr-primary);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__branding {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header__branding h3 {
  color: var(--clr-light);
}

.header__nav {
  display: flex;
  gap: 2rem;
  font-size: var(--p);
}

.header__nav li a {
  color: var(--clr-light);
  font-weight: 300;
}

/* MOBILE RESPONSIVE | HEADER */
.toggle__menu {
  display: none;
}

.toggle__menu span {
  background-color: var(--clr-light);
  width: 3rem;
  height: 0.4rem;
  display: block;
  border: 3px solid var(--clr-light);
  border-radius: 1rem;
}

@media screen and (max-width: 520px) {
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .header__nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--clr-dark);
    flex-direction: column;
    text-align: center;
    right: -100%;
    transform: translateY(-20rem);
    margin-top: 30rem;
    z-index: 9999;
    transition: all 0.5s ease;
    justify-content: center;
  }

  .header__nav.open {
    right: 0;
    transition: all 0.5s ease;
  }

  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(585deg);
    transition: all 0.5s ease;
  }

  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -8px) rotate(-585deg);
    transition: all 0.5s ease;
  }

  .header__branding {
    gap: 1.5rem;
  }

  .container {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 3rem;
  }
}

/* HOME BANNER */
.homeBanner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.homeBanner__text {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 6.6rem;
  align-items: start;
}

.homeBanner__text h1 {
  color: var(--clr-primary);
}

.homeBanner__text p {
  text-align: justify;
}

/* MOBILE RESPONSIVE | HOME BANNER */
@media screen and (max-width: 520px) {
  .homeBanner__wrapper {
    grid-template-columns: auto;
  }

  .homeBanner img {
    display: none;
  }
}

/* HOME SERVICES */
.homeServices {
  background-color: var(--clr-dark);
}

.homeServices__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3rem;
}

.homeServices__card {
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  padding: 0 1.45rem;
  align-items: center;
  gap: 8rem;
}

.homeServices__card--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.homeServices__card--text small,
.homeServices__card--text h4 {
  color: var(--clr-primary);
}

.homeServices__card--text small {
  font-size: 7rem;
}

/* MOBILE RESPONSIVE | HOME SERVICES */
@media screen and (max-width: 520px) {
  .homeServices__wrapper {
    grid-template-columns: auto;
    gap: 7rem;
  }

  .homeServices__card,
  .homeServices__card--text {
    gap: 3rem;
  }
}

/* HOME ABOUT */
.homeAbout__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.homeAbout--profile {
  position: relative;
}

.homeAbout--profile img:first-child {
  filter: contrast(1);
  z-index: -1;
}

.homeAbout--profile img:last-child {
  width: 47.7rem;
  height: 47.7rem;
  position: absolute;
  left: 0rem;
  opacity: 0.5;
}

.homeAbout--text {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: auto 0;
  text-align: justify;
}
.homeAbout--text h3 {
  color: var(--clr-primary);
}

/* MOBILE RESPONSIVE | HOME ABOUT */
@media screen and (max-width: 520px) {
  .homeAbout__wrapper {
    grid-template-columns: auto;
    gap: 3rem;
  }

  .homeAbout--profile img:last-child {
    width: 100%;
    height: 42rem;
    position: absolute;
    left: 0rem;
    opacity: 0.5;
  }

  .homeAbout--text {
    gap: 2rem;
  }
}

/* HOME TRENDS */
.homeTrends {
  background-color: var(--clr-dark);
}

.homeTrends__title h2 {
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

.homeTrends__title p {
  color: var(--clr-light);
}

.homeTrends__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-top: 5rem;
  justify-items: center;
}

/* MOBILE RESPONSIVE | HOME TRENDS */
@media screen and (max-width: 520px) {
  .homeTrends__wrapper {
    grid-template-columns: auto;
    row-gap: 6rem;
  }
}

/* CTA */
.CTA {
  padding: 8rem 0;
  background-color: var(--clr-primary);
}
.CTA__wrapper {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.CTA__wrapper div {
  margin-top: 4rem;
  padding: 2.1rem 0;
}

/* FOOTER */
.footer {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}

.footer__wrapper {
  color: var(--clr-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.4;
}

.footer__socials,
.footer__socials ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__socials ul a {
  color: var(--clr-light);
  font-size: 2rem;
}

.footer__socials ul li:hover {
  transform: translateY(-0.5rem);
}

.footer__socials {
  gap: 3rem;
}

/* MOBILE RESPONSIVE | FOOTER */
@media screen and (max-width: 520px) {
  .footer__wrapper,
  .footer__socials {
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* ABOUT BANNER */
.aboutBanner {
  position: relative;
}

.aboutBanner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  gap: 15rem;
}

.aboutBanner__wrapper--text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: justify;
}

.aboutBanner__title h2 {
  color: var(--clr-primary);
}

.aboutBanner__wrapper ul {
  display: flex;
  gap: 2rem;
}

.aboutBanner__wrapper ul a {
  color: var(--clr-primary);
  font-size: var(--h3);
}

.aboutBanner__wrapper ul i:hover {
  opacity: 0.5;
}

#chevron {
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  font-size: 4rem;
  color: var(--clr-primary);
}

/* MOBILE RESPONSIVE | ABOUT BANNER */
@media screen and (max-width: 520px) {
  .aboutBanner img {
    grid-row: 1;
  }

  .aboutBanner__wrapper {
    grid-template-columns: auto;
    gap: 3rem;
  }

  .aboutBanner__wrapper--text {
    gap: 3rem;
  }
}

/* ABOUT PROJECTS */
.aboutProjects {
  background-color: var(--clr-dark);
}

.aboutProjects__title h2 {
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

.aboutProjects__title p {
  color: var(--clr-light);
}

.aboutProjects__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.5rem;
  row-gap: 6rem;
  margin-top: 5rem;
}

/* MOBILE RESPONSIVE | ABOUT PROJECTS */

@media screen and (max-width: 520px) {
  .aboutProjects__wrapper {
    grid-template-columns: auto;
  }
}

/* SERVICES */
.services {
  padding-top: 11.2rem;
}

.services__card {
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  padding: 15rem 0;
  position: relative;
}

.services__card:nth-child(even) {
  background-color: var(--clr-dark);
}

.services__card:nth-child(even) .services__items {
  flex-direction: row-reverse;
  color: var(--clr-light);
}

.services__card:nth-child(even) .services__right img:last-child {
  display: none;
}

.services__card a {
  font-size: 4rem;
  color: var(--clr-primary);
  position: absolute;
  bottom: 5rem;
}
.services__card:last-child a {
  display: none;
}

.services__items {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15rem;
}

.services__items h2 {
  color: var(--clr-primary);
}

.services__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.services__left p {
  text-align: justify;
}

.services__right {
  width: 50%;
}

.services__price {
  width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.services__price h3 {
  color: var(--clr-primary);
}

.services__price h5 {
  font-style: italic;
}

.services__right img {
  width: 100%;
}

.services__right {
  position: relative;
  max-width: 53rem;
}

.services__right img:last-child {
  position: absolute;
  opacity: 0.5;
  left: 0rem;
}

/* MOBILE RESPONSIVE | SERVICES */
@media screen and (max-width: 520px) {
  .services__card {
    padding: 10rem 0;
  }

  .services__card a {
    bottom: 2.5rem;
  }

  .services__items,
  .services__card:nth-child(even) .services__items {
    max-width: 48rem;
    padding: 0 3rem;
    flex-direction: column;
    gap: 6rem;
  }

  .services__items h2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .services__left,
  .services__right {
    width: 100%;
    gap: 3rem;
  }
}

/* UPDATES */
.updates__title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 10rem;
}

.updates__title h2 {
  color: var(--clr-primary);
}
.updates__title h3 {
  font-weight: 500;
}

.updates__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
}

.updates__left {
  display: grid;
  grid-template-rows: auto;
  gap: 3rem;
}

.updates__card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 7.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #00000020;
  text-align: justify;
}

.updates__card:last-child {
  border: none;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.updates__card ul {
  display: flex;
  column-gap: 5rem;
  margin-top: -1rem;
  font-size: var(--h5);
}

.updates__card ul i {
  margin-right: 1rem;
}

.updates__card h3,
.updates__card a {
  color: var(--clr-primary);
}

.updates__right {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
}

.updates__categories,
.updates__post {
  border-bottom: 1px solid #00000020;
  padding-bottom: 5.6rem;
}

.updates__right h3 {
  margin-bottom: 4rem;
  color: var(--clr-primary);
}
.updates__categories ul li {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2rem 0;
}

.updates__categories ul li small {
  justify-self: end;
}

.updates__postCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 3.5rem 0;
}

.updates__postCard--text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
}

.updates__tags div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

/* MOBILE RESPONSIVE | UPDATES */
@media screen and (max-width: 520px) {
  .updates__title {
    gap: 0rem;
    margin-bottom: 5rem;
  }

  .updates__title h2 {
    color: var(--clr-primary);
    font-size: 4.5rem;
  }

  .updates__title h3 {
    font-weight: 400;
    font-size: var(--h4);
  }

  .updates__wrapper {
    grid-template-columns: auto;
    gap: 6rem;
  }

  .updates__left,
  .updates__right {
    gap: 3rem;
  }

  .updates__card {
    padding-bottom: 3rem;
  }

  .updates__card:last-child {
    padding-bottom: 7.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #00000020;
  }

  .updates__card ul {
    column-gap: 2rem;
    flex-wrap: wrap;
  }

  .updates__card ul i {
    margin-right: 0.2rem;
  }

  .updates__categories,
  .updates__post {
    padding-bottom: 2rem;
  }
}

/* CONTACT */
.contact {
  background-color: var(--clr-dark);
  border-bottom: 1px solid #f5f5f540;
}

.contact h2 {
  color: var(--clr-primary);
  font-size: var(--subh1);
  margin-bottom: 8rem;
}

.contact__wrapper {
  display: flex;
  gap: 7rem;
}

.contact__text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--clr-light);
}

.contact__info ul:first-child li {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 4rem 0;
}

.contact__info ul:first-child i {
  width: 2.4rem;
  text-align: center;
  color: var(--clr-primary);
}

.contact__info ul:last-child {
  display: flex;
  gap: 2rem;
}

.contact__info ul:last-child li:hover {
  opacity: 0.5;
}

.contact__info i {
  font-size: var(--h3);
  color: var(--clr-light);
}

form {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: 3rem;
  width: 70%;
}

textarea {
  height: 13rem;
}

.input {
  padding: 2rem 3rem;
  background-color: var(--clr-light);
}

.input::placeholder {
  font-family: var(--font-style);
  font-weight: 500;
  opacity: 0.7;
}

.input:hover {
  opacity: 0.9;
}

form a {
  align-self: end;
}

.contact__header {
  box-shadow: rgb(31, 31, 31) 0px 7px 10px;
}

/* MOBILE RESPONSIVE | CONTACT */
@media screen and (max-width: 520px) {
  .contact__wrapper {
    flex-direction: column;
  }

  .contact__text {
    margin-top: -2rem;
    gap: 1rem;
  }

  .contact__info ul:first-child li {
    margin: 2.5rem 0;
  }

  form {
    width: 100%;
    gap: 2rem;
  }

  textarea {
    height: 11rem;
  }

  .input {
    padding: 1.7rem 3rem;
    background-color: var(--clr-light);
  }
}

/* ASSETS */
.btn {
  background-color: transparent;
  border: transparent;
  border-radius: 10rem;
  padding: 2rem 3rem;
  color: transparent;
  text-align: center;
}

.btn.bg-primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-weight: 500;
  border: 3px solid var(--clr-primary);
}

.btn.bg-primary:hover {
  background-color: transparent;
  color: var(--clr-primary);
}
.btn.bg-dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-weight: 500;
  border: 3px solid var(--clr-dark);
}

.btn.bg-dark:hover {
  background-color: transparent;
  color: var(--clr-dark);
}

.btn.bg-light {
  color: var(--clr-dark);
  font-weight: 500;
  border: 3px solid var(--clr-dark);
}

.btn.bg-light:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.card {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background-color: var(--clr-light);
  border-radius: 2rem;
  position: relative;
}

.card img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 2rem;
}

.card img:hover {
  height: 50%;
  position: absolute;
  transition: 300ms ease-in-out;
}

.card--text {
  height: 50%;
  padding-top: 60%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2.4rem 1.8rem;
}

.card--text h4,
.card--text a {
  color: var(--clr-primary);
}

/* MOBILE RESPONSIVE | ASSETS */
@media screen and (max-width: 520px) {
  .card--text {
    padding-top: 0;
  }

  .card img {
    height: 50%;
    position: relative;
  }

  .card img:hover {
    all: inherit;
  }
}
